body {
	width: auto;
}

#mainBlock {
	display: block;
	height: 500px;
	width: 500px;
	background-color: grey;
	margin: 0 auto;
	padding: 5px 15px 0px 10px;
}

#mainBlock .button {
	display: block;
	border: dashed 1px black;
	height: 20px;
	width: 100%;
	background-color: green;
	margin: 10px 0px;
	padding: 5px;
}

#mainBlock .button:hover {
	border: solid 1px black;
	cursor: pointer;
}

